@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Yekan;
    src: url('./assets//fonts/yekan/Yekan.woff');
  }
  @font-face {
    font-family: Samim;
    src: url('./assets//fonts/samim/Samim.woff');
  }
  @font-face {
    font-family: Samim;
    src: url('./assets//fonts/samim/Samim-Bold.woff');
    font-weight: bold;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #f8fafc;
  }
  /*Change text in autofill textbox*/
  input:-webkit-autofill {
    -webkit-text-fill-color: rgb(15, 23, 42) !important;
  }

  .themed-icon {
    filter: brightness(0) saturate(100%) invert(32%) sepia(66%) saturate(1725%) hue-rotate(237deg)
      brightness(108%) contrast(93%);
  }

  /* HTML: <div class="loader"></div> */
  /* HTML: <div class="loader"></div> */
  .line-loader {
    width: 120px;
    height: 20px;
    background:
      radial-gradient(circle 10px, #8b5cf6 95%, #0000) right / calc(200% + 20px) 100%,
      linear-gradient(#8b5cf6 0 0) center/100% 6px;
    background-repeat: no-repeat;
    -webkit-mask: radial-gradient(circle 4px, #0000 93%, #8b5cf6) right/calc(200% + 20px) 100%;
    animation: l6 1s infinite linear;
  }
  @keyframes l6 {
    100% {
      background-position: left;
      -webkit-mask-position: left;
    }
  }

  /* HTML: <div class="loader"></div> */
  /* HTML: <div class="loader"></div> */
  .spin-loader {
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, #000 94%, #0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, #000);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13 {
    100% {
      transform: rotate(1turn);
    }
  }
}
