@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Yekan;
    src: url('./assets//fonts/yekan/Yekan.woff');
  }
  @font-face {
    font-family: Samim;
    src: url('./assets//fonts/samim/Samim.woff');
  }
  @font-face {
    font-family: Samim;
    src: url('./assets//fonts/samim/Samim-Bold.woff');
    font-weight: bold;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #f8fafc;
  }
  /*Change text in autofill textbox*/
  input:-webkit-autofill {
    -webkit-text-fill-color: rgb(15, 23, 42) !important;
  }
}
